In [3]:
import pandas as pd
from lib.data_utils import fetch_and_prepare_data_all

try:
    data_df = pd.read_csv('data_samples/askme-full.csv')
    print('Dataset already exists.')
except FileNotFoundError:
    data_df = await fetch_and_prepare_data_all()
    data_df.to_csv('data_samples/askme-full.csv', index=False)
data_df

,_sa_instance_state_question,context,id_question,author_id,upvote,turns,text_question,paragraph_id,scope,timestamp,...,author_id_answer,question_id,timestamp_answer,_sa_instance_state_rating,answer_id,id_rating,timestamp_rating,author_id_rating,text_rating,value
0,<sqlalchemy.orm.state.InstanceState object at ...,In an article about 'Surface weather analysis'...,4,1,0,multi,How does the specific heat of water compare to...,176564,single-paragraph,2024-04-13 03:47:40,...,2,4,2024-04-13 03:47:47,<sqlalchemy.orm.state.InstanceState object at ...,2,1,2024-04-13 03:47:54,3,The answer is fully accurate and detailed. It ...,5
1,<sqlalchemy.orm.state.InstanceState object at ...,In an article about 'Surface weather analysis'...,5,1,0,multi,How does the specific heat of water compare to...,176564,single-paragraph,2024-04-13 03:47:40,...,2,5,2024-04-13 03:48:11,<sqlalchemy.orm.state.InstanceState object at ...,4,3,2024-04-13 03:48:19,3,The answer accurately summarizes the informati...,5
2,<sqlalchemy.orm.state.InstanceState object at ...,In an article about 'Surface weather analysis'...,6,1,0,multi,What happens to land temperature compared to w...,176564,single-paragraph,2024-04-13 03:47:40,...,2,6,2024-04-13 03:48:44,<sqlalchemy.orm.state.InstanceState object at ...,7,6,2024-04-13 03:48:50,3,The answer accurately summarizes the informati...,5
3,<sqlalchemy.orm.state.InstanceState object at ...,In an article about '2008 Maryland Terrapins f...,7,1,0,multi,Can you name the two offensive skill position ...,683013,single-paragraph,2024-04-13 03:51:53,...,2,7,2024-04-13 03:51:59,<sqlalchemy.orm.state.InstanceState object at ...,8,7,2024-04-13 03:52:06,3,The answer correctly identifies the two offens...,4
4,<sqlalchemy.orm.state.InstanceState object at ...,In an article about '2008 Maryland Terrapins f...,8,1,0,multi,Can you name the two offensive skill position ...,683013,single-paragraph,2024-04-13 03:51:53,...,2,8,2024-04-13 03:52:17,<sqlalchemy.orm.state.InstanceState object at ...,10,9,2024-04-13 03:52:24,3,The answer correctly identifies the two offens...,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142534,<sqlalchemy.orm.state.InstanceState object at ...,"In an article about 'Friends', section 'Broadc...",1169313,8,0,single,"When did the first episode of ""Friends"" air, a...",419959,single-paragraph,2024-05-30 18:42:51,...,6,1169313,2024-05-30 18:43:27,<sqlalchemy.orm.state.InstanceState object at ...,2567816,2567587,2024-05-30 18:43:33,7,The provided answer states that the first epis...,1
1142535,<sqlalchemy.orm.state.InstanceState object at ...,"In an article about 'Friends', section 'Broadc...",1169314,8,0,single,"When did the first episode of ""Friends"" air, a...",419959,single-paragraph,2024-05-30 18:42:51,...,6,1169314,2024-05-30 18:43:34,<sqlalchemy.orm.state.InstanceState object at ...,2567837,2567609,2024-05-30 18:43:38,7,The answer accurately states that the first ep...,5
1142536,<sqlalchemy.orm.state.InstanceState object at ...,"In an article about 'Friends', section 'Broadc...",1169315,8,0,single,"On which day of the week did the TV show ""Frie...",419959,single-paragraph,2024-05-30 18:42:53,...,6,1169315,2024-05-30 18:43:03,<sqlalchemy.orm.state.InstanceState object at ...,2567730,2567505,2024-05-30 18:43:10,7,The answer accurately states that the TV show ...,5
1142537,<sqlalchemy.orm.state.InstanceState object at ...,"In an article about 'Friends', section 'Broadc...",1169316,8,0,single,"What was the time slot for ""Friends"" on NBC fr...",419959,single-paragraph,2024-05-30 18:42:53,...,6,1169316,2024-05-30 18:43:13,<sqlalchemy.orm.state.InstanceState object at ...,2567763,2567534,2024-05-30 18:43:18,7,The provided answer is significantly incorrect...,1
1142538,<sqlalchemy.orm.state.InstanceState object at ...,"In an article about 'Friends', section 'Broadc...",1169317,8,0,single,"When did the first episode of ""Friends"" air, a...",419959,single-paragraph,2024-05-30 18:42:53,...,6,1169317,2024-05-30 18:43:35,<sqlalchemy.orm.state.InstanceState object at ...,2567840,2567614,2024-05-30 18:43:39,7,The answer accurately states that the first ep...,5

In [4]:
# Average context length per question
data_df['context_length'] = data_df['context'].apply(lambda x: len(x.split())) + data_df['text_paragraph'].apply(lambda x: len(x.split()))
average_context_length = data_df['context_length'].mean()
print(f"Average context length per question: {average_context_length}")

# std deviation of context length
std_dev_context_length = data_df['context_length'].std()
print(f"Standard deviation of context length: {std_dev_context_length}")

# Total context length for retrieval systems
total_context_length = data_df['context_length'].sum()
print(f"Total context length: {total_context_length}")

# Number of unique contexts
num_unique_contexts = data_df['context'].nunique()
print(f"Number of unique contexts: {num_unique_contexts}")

data_df['question_length'] = data_df['text_question'].apply(lambda x: len(x.split()))
average_question_length = data_df['question_length'].mean()
std_question_length = data_df['question_length'].std()
print(f"Average question length: {average_question_length}")
print(f"Standard deviation of question length: {std_question_length}")

# Answer length stats
data_df['answer_length'] = data_df['text'].apply(lambda x: len(x.split()))
average_answer_length = data_df['answer_length'].mean()
std_answer_length = data_df['answer_length'].std()
print(f"Average answer length: {average_answer_length}")
print(f"Standard deviation of answer length: {std_answer_length}")

Average context length per question: 125.3003109740674
Standard deviation of context length: 74.37142788610177
Total context length: 143160492
Number of unique contexts: 209538
Average question length: 17.203674447874427
Standard deviation of question length: 5.166980776741944
Average answer length: 23.96977083495618
Standard deviation of answer length: 22.620718364169893